<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form id="form-add-mahasiswa">
		<table>
			<tr>
				<td><input type="text" placeholder="Kode" id="kd_mhs"
					name="kode"></td>
			</tr>
			<tr>
				<td><input type="text" placeholder="Kode Jurusan"
					id="kd_jurusan" name="kodeJurusan"></td>
			</tr>
			<tr>
				<td><input type="text" placeholder="Nama Mahasiswa" id="nm_mhs"
					name="namaMhs"></td>
			</tr>
			<tr>
				<td><input type="text" placeholder="Usia" id="usia" name="usia"></td>
			</tr>
		</table>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary"
				data-bs-dismiss="modal">Close</button>

			<button type="submit" class="btn btn-primary">Save changes</button>

		</div>
	</form>

</body>
</html>